<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VUE-1</title>
</head>
<body>
<div id="app">
    <h1>Iniciando con VUE</h1>
    <h2>{{ title }}</h2>
    <input type="text" v-model="testData" @keyup.enter="addElement">
    <button @click="addElement">Agregar</button>
    <ul v-for="fruit of fruits">
        <li>
            <input type="number" v-model.number="fruit.quantity" length="3">
            {{fruit.name}}
            <button @click="fruit.quantity = fruit.quantity+1">+</button>
               <span v-if="fruit.quantity <= 0"> - Sin Stock</span>
        </li>
    </ul>
    total: {{sumElements}}
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="03.js"></script>
</body>

</html>